<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Print Page</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="w-full grid grid-cols-1 p-5 overflow-hidden">
            <!--ANGKAS  -->
            <div class="w-full flex flex-col mb-[1rem]">
                <div class="grid grid-cols-[205px,164px]">
                    <div
                        class="h-[3.5vh] w-full flex justify-center items-center font-semibold"
                    >
                        &nbsp;
                    </div>

                    <div class="h-[3.5vh] grid grid-col">
                        <div class="flex flex-row">
                            <div
                                class="basis-7/12 flex justify-center items-center font-semibold text-center text-xs"
                            >
                                x Rp 1.000
                            </div>
                            <div
                                class="basis-5/12 flex items-center font-semibold relative"
                            >
                                <span class="absolute right-5 text-xs">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-[205px,164px]">
                    <div class="w-full flex flex-col">
                        <div class="font-semibold">Produksi (A)</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xtotal_a"
                            class="font-semibold flex justify-end basis-7/12"
                        >
                            555.445.2
                        </div>

                        <div
                            id="xtotal_b"
                            id="x"
                            class="font-semibold flex justify-end basis-5/12"
                        >
                            100.00
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div class="">Utama</div>
                    </div>

                    <div class="flex flex-row">
                        <div id="xutama_a" class="flex justify-end basis-7/12">
                            1.553.129.5
                        </div>

                        <div id="xutama_b" class="flex justify-end basis-5/12">
                            99.99
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>Ikutan</div>
                    </div>

                    <div class="flex flex-row">
                        <div id="xikutan_a" class="flex justify-end basis-7/12">
                            2.315.7
                        </div>

                        <div id="xikutan_b" class="flex justify-end basis-5/12">
                            0.42
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div class="font-semibold">Ongkos Produksi (B)</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xongkos_produksi_a"
                            class="font-semibold flex justify-end basis-7/12"
                        >
                            406.779.0
                        </div>

                        <div
                            id="xongkos_produksi_b"
                            class="font-semibold flex justify-end basis-5/12"
                        >
                            99.00
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>Benih</div>
                    </div>

                    <div class="flex flex-row">
                        <div id="xbenih_a" class="flex justify-end basis-7/12">
                            51.15.430.8
                        </div>
                        <div id="xbenih_b" class="flex justify-end basis-5/12">
                            3.79
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>Pupuk</div>
                    </div>

                    <div class="flex flex-row">
                        <div id="xpupuk_a" class="flex justify-end basis-7/12">
                            38.340.0
                        </div>
                        <div id="xpupuk_b" class="flex justify-end basis-5/12">
                            9.43
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>Pestisida</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xpestisida_a"
                            class="flex justify-end basis-7/12"
                        >
                            170.865
                        </div>
                        <div
                            id="xpestisida_b"
                            class="flex justify-end basis-5/12"
                        >
                            4.20
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>Tenaga kerja dan jasa pertanian</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xtenagakerja_a"
                            class="flex justify-end basis-7/12"
                        >
                            198.455.7
                        </div>
                        <div
                            id="xtenagakerja_b"
                            class="flex justify-end basis-5/12"
                        >
                            48.79
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>a. Tenaga kerja dibayar</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xtenagabayar_a"
                            class="flex justify-end basis-7/12"
                        >
                            68.462.7
                        </div>
                        <div
                            id="xtenagabayar_b"
                            class="flex justify-end basis-5/12"
                        >
                            16.83
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>b. Tenaga kerja tidak dibayar</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xtenagatidakdibayar_a"
                            class="flex justify-end basis-7/12"
                        >
                            58.409.1
                        </div>
                        <div
                            id="xtenagatidakdibayar_b"
                            class="flex justify-end basis-5/12"
                        >
                            14.36
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>c. Jasa pertanian</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xjasapertanian_a"
                            class="flex justify-end basis-7/12"
                        >
                            71.583.9
                        </div>
                        <div
                            id="xjasapertanian_b"
                            class="flex justify-end basis-5/12"
                        >
                            17.60
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>Sewa lahan</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xsewalahan_a"
                            class="flex justify-end basis-7/12"
                        >
                            104.170.8
                        </div>
                        <div
                            id="xsewalahan_b"
                            class="flex justify-end basis-5/12"
                        >
                            25.61
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>PBB</div>
                    </div>

                    <div class="flex flex-row">
                        <div id="xpbb_a" class="flex justify-end basis-7/12">
                            24.03
                        </div>
                        <div id="xpbb_b" class="flex justify-end basis-5/12">
                            0.59
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>Bunga pinjaman</div>
                    </div>

                    <div class="flex flex-row">
                        <div id="xbunga_a" class="flex justify-end basis-7/12">
                            10.644
                        </div>
                        <div id="xbunga_b" class="flex justify-end basis-5/12">
                            0.26
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>Premi asuransi</div>
                    </div>

                    <div class="flex flex-row">
                        <div id="xpremi_a" class="flex justify-end basis-7/12">
                            0.531
                        </div>
                        <div id="xpremi_b" class="flex justify-end basis-5/12">
                            0.01
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>Sewa alat</div>
                    </div>

                    <div class="flex flex-row">
                        <div id="xsewa_a" class="flex justify-end basis-7/12">
                            11.964.3
                        </div>

                        <div id="xsewa_b" class="flex justify-end basis-5/12">
                            2.94
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>Penyusutan</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xpenyusutan_a"
                            class="flex justify-end basis-7/12"
                        >
                            6.341.7
                        </div>
                        <div
                            id="xpenyusutan_b"
                            class="flex justify-end basis-5/12"
                        >
                            1.56
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div>Lainnya</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xlainnya_a"
                            class="flex justify-end basis-7/12"
                        >
                            5.282.7
                        </div>
                        <div
                            id="xlainnya_b"
                            class="flex justify-end basis-5/12"
                        >
                            1.30
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div class="font-semibold">Pendapatan (C)</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xpendapatan_a"
                            class="font-semibold flex justify-end basis-7/12"
                        >
                            148.666.2
                        </div>

                        <div
                            id="xpendapatan_b"
                            class="font-semibold flex justify-end basis-5/12"
                        >
                            1.30
                        </div>
                    </div>

                    <div class="w-full flex flex-col">
                        <div class="font-semibold">Rasio C/B</div>
                    </div>

                    <div class="flex flex-row">
                        <div
                            id="xrasio_a"
                            class="font-semibold flex justify-end basis-7/12"
                        >
                            0.37
                        </div>

                        <div
                            id="x"
                            class="font-semibold flex justify-end basis-5/12"
                        >
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="w-full grid grid-cols-2 gap-x-10 p-5 overflow-hidden mt-[7rem]"
        >
            <!--  ASUMSIS -->
            <div class="w-full grid grid-cols-1 mb-[1rem]">
                <div
                    class="w-full col-span-3 font-bold text-sm text-center mb-3"
                >
                    Asumsi
                </div>

                <div class="w-full text-sm flex flex-col">
                    <div class="mb-1">Growth rate</div>
                    <div class="mb-1">WACC</div>
                    <div class="mb-1">Operating profitability</div>

                    <div class="mb-1">Capital requirement</div>

                    <div class="mb-1">Capital</div>
                    <div class="mb-1">NOWC</div>
                    <div class="mb-1">Net Operating Capital</div>
                    <div class="mb-1">Sales</div>
                    <div class="mb-1">Net Operating Income</div>
                    <div class="mb-1">Valuasi (Metode DCF)</div>
                    <div class="mb-1">ROIC</div>
                    <div class="mb-1">Economic Value Added</div>
                </div>

                <div class="w-full">&nbsp;</div>

                <div class="w-full flex flex-col">
                    <div
                        class="flex justify-end text-sm mb-1"
                        id="xdistribusi_g"
                    >
                        4%%
                    </div>

                    <div
                        class="flex justify-end text-sm mb-1"
                        id="xdistribusi_wacc"
                    >
                        10.00%
                    </div>

                    <div
                        class="flex justify-end text-sm mb-1"
                        id="xdistribusi_op"
                    >
                        56.04%
                    </div>

                    <div
                        class="flex justify-end text-sm mb-1"
                        id="xdistribusi_cr"
                    >
                        18.44
                    </div>

                    <div class="text-sm mb-1 flex flex-row justify-between">
                        <div class="">Rp</div>
                        <div id="xdistribusi_capital">500.000.000</div>
                    </div>

                    <div class="text-sm mb-1 flex flex-row justify-between">
                        <div class="">Rp</div>
                        <div id="xdistribusi_nowc">100.000.000</div>
                    </div>
                    <div class="text-sm mb-1 flex flex-row justify-between">
                        <div class="">Rp</div>
                        <div id="xdistribusi_netOpCap">200.000.000</div>
                    </div>
                    <div class="text-sm mb-1 flex flex-row justify-between">
                        <div class="">Rp</div>
                        <div id="xdistribusi_sales">1.000.000.000</div>
                    </div>
                    <div class="text-sm mb-1 flex flex-row justify-between">
                        <div class="">Rp</div>
                        <div id="xdistribusi_noi">150.000.000</div>
                    </div>
                    <div class="text-sm mb-1 flex flex-row justify-between">
                        <div class="">Rp</div>
                        <div id="xdistribusi_valueOp">250.000.000</div>
                    </div>

                    <div
                        class="flex justify-end text-sm mb-1"
                        id="xdistribusi_roic"
                    >
                        5%
                    </div>

                    <div
                        class="flex justify-end text-sm mb-1 text-red-500 font-bold"
                        id="xdistribusi_eva"
                    >
                        -50.000.000
                    </div>
                </div>
            </div>
            <!--  KETERANGANS -->
            <div class="w-full flex flex-col">
                <div
                    class="w-full col-span-3 font-bold text-sm text-center mb-3"
                >
                    Asumsi
                </div>

                <div class="w-full grid grid-cols-1 mt-1">
                    <div class="grid grid-cols-[140px,230px] mb-0">
                        <div class="w-full text-xs flex flex-col">
                            <div class="">Capital</div>
                        </div>

                        <div class="w-full flex flex-col">
                            <div
                                class="w-full flex justify-start text-xs mb-1 text-left relative"
                                id="x"
                            >
                                Operating Long Term Asset dengan asumsi harga
                                tanah Rp 100.000 / m²
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-[140px,230px] mb-0">
                        <div class="w-full text-xs flex flex-col">
                            <div class="">NOWC</div>
                        </div>

                        <div class="w-full flex flex-col">
                            <div
                                class="w-full flex justify-start text-xs mb-1 text-left"
                                id="x"
                            >
                                Working capital per tahun
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-[140px,230px] mb-0">
                        <div class="w-full text-xs flex flex-col">
                            <div class="">Sales</div>
                        </div>

                        <div class="w-full flex flex-col">
                            <div
                                class="w-full flex justify-start text-xs mb-1 text-left"
                                id="x"
                            >
                                Asumsi panen 4x per tahun
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-[140px,230px] mb-0">
                        <div class="w-full text-xs flex flex-col">
                            <div class="">ROIC</div>
                        </div>

                        <div class="w-full flex flex-col">
                            <div
                                class="w-full flex justify-start text-xs mb-1 text-left"
                                id="x"
                            >
                                Return on Investment Capital
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add any additional content you want to print -->

        <button id="print-button" onclick="handlePrint()">Print</button>

        <script>
            // Function to handle the print button click event
            function handlePrint() {
                // Hide the print button during printing to prevent it from being printed
                const printButton = document.getElementById("print-button");
                if (printButton) {
                    printButton.style.display = "none";
                }

                // Call the browser's print functionality
                window.print();

                // Show the print button after printing is done
                if (printButton) {
                    printButton.style.display = "block";
                }
            }
        </script>
    </body>
</html>
