@tailwind base;
@tailwind components;
@tailwind utilities;

/*Reguler*/
@font-face {
  font-family: "Font SF-Pro reguler";
  src: url("../font/3/SF-Pro-Text-Regular.otf") format("opentype");
  font-style: normal;
}

/*Bold3*/
@font-face {
  font-family: "Font SF-Pro bold";
  src: url("../font/3/SF-Pro-Display-Heavy.otf") format("opentype");
  font-style: normal;
}

/*Medium3*/
@font-face {
  font-family: "Font SF-Pro medium";
  src: url("../font/3/SF-Pro-Display-Bold.otf") format("opentype");
  font-style: normal;
}

.hapus_focus_checkbox:focus {
  outline: none !important;
  box-shadow: none !important;
}
